*.md
*.gitignore
*.log
*.ico
*.svg
*.snap
*.ttf
*.woff
*.woff2
*.lock
react-app-env.d.ts
reportWebVitals.ts
node_modules
dist
build
.vite
.idea
.vscode
public
*.min.*
.env
.env.*
package-lock.json
pnpm-lock.yaml
yarn.lock
tsconfig.tsbuildinfo
